body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#navbar
{
   border-width: 0;
   vertical-align: top;
}
#wb_logo
{
   vertical-align: top;
}
#logo
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_bg-img
{
   vertical-align: top;
}
#bg-img
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#sidebar
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Button1
{
   border: 1px solid #7D02B5;
   border-radius: 50px;
   background-color: #7D02B5;
   background-image: none;
   color: #FFFFFF;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#Shape6
{
   border-width: 0;
   vertical-align: top;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text23 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#LayerMenu1
{
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   margin: 0;
}
#LayerMenu1 li
{
   float: left;
   margin: 0;
   padding: 0;
   position: relative;
}
#LayerMenu1 li a
{
   float: left;
}
#LayerMenu1 li .layer
{
   display: none;
   float: left;
   left: 0;
   position: absolute;
   top: 0;
   border: 1px solid #DA70D6;
   border-radius: 5px;
   background-color: #301934;
   background-image: none;
}
#LayerMenu1 .button
{
   cursor: pointer;
   color: #00FEFE;
   border: 0px solid transparent;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   margin: 0 70px 0 0;
   padding: 4px 20px 4px 8px;
   position: relative;
   text-align: left;
   text-decoration: none !important;
   text-transform: none;
}
#LayerMenu1 .button:hover
{
   color: #DA70D6;
   border: 0px solid transparent;
}
#LayerMenu1 li:last-child .button
{
   margin-right: 0;
}
#LayerMenu1 .arrow-down
{
   border-top: 4px solid #00FEFE;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
   position: absolute;
   top: 50%;
   right: -7px;
   left: auto;
   width: 0;
   height: 0;
   margin-top: -2px;
   margin-left: 0;
   vertical-align: middle;
}
#LayerMenu1 li a:hover .arrow-down
{
   border-top-color: #DA70D6;
}
#wb_TextMenu1
{
   background-color: transparent;
   background-image: none;
   color: #00F2F7;
   font-family: "Courier New";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   font-size: 21px;
   margin: 0;
   text-align: left;
   overflow: hidden;
}
#wb_TextMenu1 span
{
   display: block;
   margin: 0 0 80px 0;
   line-height: 23px;
}
#wb_TextMenu1 a
{
   color: inherit;
   text-decoration: inherit;
}
#wb_TextMenu1:hover
{
   color: #DA70D6;
   transition: color 500ms linear 0ms;
}
#wb_TextMenu2
{
   background-color: transparent;
   background-image: none;
   color: #00F2F7;
   font-family: "Courier New";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   font-size: 21px;
   margin: 0;
   text-align: left;
   overflow: hidden;
}
#wb_TextMenu2 span
{
   display: block;
   margin: 0 0 80px 0;
   line-height: 23px;
}
#wb_TextMenu2 a
{
   color: inherit;
   text-decoration: inherit;
}
#wb_TextMenu2:hover
{
   color: #DA70D6;
   transition: color 500ms linear 0ms;
}
#wb_TextMenu3
{
   background-color: transparent;
   background-image: none;
   color: #00F2F7;
   font-family: "Courier New";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   font-size: 21px;
   margin: 0;
   text-align: left;
   overflow: hidden;
}
#wb_TextMenu3 span
{
   display: block;
   margin: 0 0 80px 0;
   line-height: 23px;
}
#wb_TextMenu3 a
{
   color: inherit;
   text-decoration: inherit;
}
#wb_TextMenu3:hover
{
   color: #DA70D6;
   transition: color 500ms linear 0ms;
}
#wb_TextMenu4
{
   background-color: transparent;
   background-image: none;
   color: #00F2F7;
   font-family: "Courier New";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   font-size: 21px;
   margin: 0;
   text-align: left;
   overflow: hidden;
}
#wb_TextMenu4 span
{
   display: block;
   margin: 0 0 80px 0;
   line-height: 23px;
}
#wb_TextMenu4 a
{
   color: inherit;
   text-decoration: inherit;
}
#wb_TextMenu4:hover
{
   color: #DA70D6;
   transition: color 500ms linear 0ms;
}
